@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

p {
  margin: 0;
}

.news {
  display: grid;
  width: 380px;
  height: 200px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 0;
  font-size: 14px;
  line-height: 150%;
}

.news-header {
  grid-row: 1 / 1;
  grid-column: 1 / 5;
  margin: 0;
  color: #ed552f;
  font-size: 14px;
  font-weight: 700;
}

.news-more {
  grid-row: 1 / 1;
  font-weight: 400;
}

.hr {
  grid-row: 2 / 2;
  grid-column: 1 / 5;
  height: 1px;
  margin-top: 10px;
  background: linear-gradient(90deg, #a9a9a9 -1.32%, #ffffff 100%);
}

.news-img {
  grid-row: 3 / 5;
  grid-column: 1 / 1;
  margin: 0 0 0 -14px;
}

.news-img img {
  width: 112px;
  height: 86px;
}

.news-img figcaption {
  font-weight: 400;
  margin-left: 21px;
  margin-top: -16px;
}

.news-group {
  grid-row: 3 / 3;
  grid-column: 2 / 6;
}

.news-title {
  font-weight: 700;
}

.news-date {
  padding: 4px 0 8px 0;
}

.news-content {
  grid-column: 2 / 6;
  font-weight: 400;
}
