.container {
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  width: 190px;
  padding: 12px;
}

.link-header{
  color: #181818;
  font-weight: 700;
  font-size: 15px;
  margin: 0px 0 8px;
}

.link-header__text-color{
  color: #ED552F;
}

.link-wrap{
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  height: 30px;
  transition: 0.7s;
}

.link-wrap:hover{
  height: 170px;
  transition: height 0.7s;
}

.link-group{
  list-style: none;
  padding-left: 24px;
  margin: 0px;
}

.link-group:hover{
  padding-top: 10px;
  transition: padding-top 0.3s ease-in-out 0.4s;
}

.link-group li{
  padding: 4px;
}

.link-wrap a{
  color: #181818;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

.link-wrap a:visited{
  color: #181818;
}

