.container {
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  width: 190px;
  height: 178px;
  padding: 12px;
}

.link-header{
  color: #181818;
  font-weight: 700;
  font-size: 15px;
  margin: 0px 0 8px;
}

.link-header__text-color{
  color: #ED552F;
}

.link-wrap{
  background: #ffffff;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  height: 150px;
  list-style: none;
  padding-left: 24px;
  margin: 0px;
}

.link-wrap li{
  padding: 4px;
}

.link-wrap a{
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}